/dts-v1/;
#include "sun8i-v3s.dtsi"
#include "sunxi-common-regulators.dtsi"
#include "dt-bindings/input/linux-event-codes.h"

/ {
	// 改设备名字
	model = "Atguigu Pi";
	
	compatible = "atguigu,atguigupi", "allwinner,sun8i-v3s";
	
	aliases {
		serial0 = &uart0;
		serial2 = &uart2;
		// 给以太网取别名
		ethernet0 = &emac;
		// 给SPI起别名
		spi0 = &spi0;
	};
	
	chosen {
		stdout-path = "serial0:115200n8";
	};
	
	// 加入低速USB设备支持，例如鼠标、键盘
	soc {
		ehci0: usb@01c1a000 {
			compatible = "allwinner,sun8i-v3s-ehci", "generic-ehci";
			reg = <0x01c1a000 0x100>;
			interrupts = <GIC_SPI 72 IRQ_TYPE_LEVEL_HIGH>;
			clocks = <&ccu CLK_BUS_EHCI0>, <&ccu CLK_BUS_OHCI0>;
			resets = <&ccu RST_BUS_EHCI0>, <&ccu RST_BUS_OHCI0>;
			status = "okay";
		};
		ohci0: usb@01c1a400 {
			compatible = "allwinner,sun8i-v3s-ohci", "generic-ohci";
			reg = <0x01c1a400 0x100>;
			interrupts = <GIC_SPI 73 IRQ_TYPE_LEVEL_HIGH>;
			clocks = <&ccu CLK_BUS_EHCI0>, <&ccu CLK_BUS_OHCI0>,
			<&ccu CLK_USB_OHCI0>;
			resets = <&ccu RST_BUS_EHCI0>, <&ccu RST_BUS_OHCI0>;
			status = "okay";
		};
	};
};

&lradc {
	vref-supply = <&reg_vcc3v0>;
	status = "okay";
	button-0 {
		label = "Left";
		linux,code = <KEY_LEFT>;
		channel = <0>;
		voltage = <0>;
	};
	button-273 {
		label = "Right";
		linux,code = <KEY_RIGHT>;
		channel = <0>;
		voltage = <272727>;
	};
	button-500 {
		label = "Left";
		linux,code = <KEY_UP>;
		channel = <0>;
		voltage = <500000>;
	};
	button-692 {
		label = "Left";
		linux,code = <KEY_DOWN>;
		channel = <0>;
		voltage = <692308>;
	};
	button-857 {
		label = "Left";
		linux,code = <KEY_OK>;
		channel = <0>;
		voltage = <857143>;
	};
};

&mmc0 {
	broken-cd;
	bus-width = <4>;
	vmmc-supply = <&reg_vcc3v3>;
	status = "okay";
};

// 开放mmc1设备，无线网卡挂在这个接口下面
&mmc1 {
	broken-cd;
	bus-width = <4>;
	vmmc-supply = <&reg_vcc3v3>;
	status = "okay";
};

&uart0 {
	pinctrl-0 = <&uart0_pb_pins>;
	pinctrl-names = "default";
	status = "okay";
};

&uart2 {
	pinctrl-0 = <&uart2_pins>;
	pinctrl-names = "default";
	status = "okay";
};

&usb_otg {
	dr_mode = "otg";
	status = "okay";
};

&usbphy {
	status = "okay";
};

// 开启以太网
&emac {
	allwinner,leds-active-low;
	status = "okay";
};

// 开启SPI和FLASH
&spi0 {
	status = "okay";
	w25q256:w25q256@0 {
		compatible = "winbond,w25q256", "jedec,spi-nor";
		reg = <0x0>;
		spi-max-frequency = <50000000>;
		#address-cells = <1>;
		#size-cells = <1>;
		// 由于Flash没有分区表，需要在设备树文件中声明flash分区
		// 这里总共分了5个区
		
		partitions {
			compatible = "fixed-partitions";
			#address-cells = <1>;
			#size-cells = <1>;
			
			partition@0 {
				label = "uboot";
				reg = <0x0 0x70000>;
				read-only;
			};
			
			partition@70000 {
				label = "dtb";
				reg = <0x70000 0x10000>;
				read-only;
			};
			
			partition@80000 {
				label = "kernel";
				reg = <0x80000 0x700000>;
				read-only;
			};
			
			partition@780000 {
				label = "rootfs";
				reg = <0x780000 0x880000>;
				read-only;
			};
			partition@1000000 {
				label = "data";
				reg = <0x1000000 0x1000000>;
			};
		};
	};
};
