/dts-v1/;
#include "sun8i-v3s.dtsi"
#include "sunxi-common-regulators.dtsi"
#include <dt-bindings/input/linux-event-codes.h>

/ {
	// 改设备名字
	model = "Atguigu Pi";
	
	compatible = "atguigu,atguigupi", "allwinner,sun8i-v3s";
	
	aliases {
		serial0 = &uart0;
		serial1 = &uart1;
		// 给以太网取别名
		ethernet0 = &emac;
		// 给SPI起别名
		spi0 = &spi0;
		i2c0 = &i2c0;
	};
	
	chosen {
		stdout-path = "serial0:115200n8";
	};
	
	soc {
		ehci0: usb@01c1a000 {
			compatible = "allwinner,sun8i-v3s-ehci", "generic-ehci";
			reg = <0x01c1a000 0x100>;
			interrupts = <GIC_SPI 72 IRQ_TYPE_LEVEL_HIGH>;
			clocks = <&ccu CLK_BUS_EHCI0>, <&ccu CLK_BUS_OHCI0>;
			resets = <&ccu RST_BUS_EHCI0>, <&ccu RST_BUS_OHCI0>;
			status = "okay";
		};
		ohci0: usb@01c1a400 {
			compatible = "allwinner,sun8i-v3s-ohci", "generic-ohci";
			reg = <0x01c1a400 0x100>;
			interrupts = <GIC_SPI 73 IRQ_TYPE_LEVEL_HIGH>;
			clocks = <&ccu CLK_BUS_EHCI0>, <&ccu CLK_BUS_OHCI0>,
			<&ccu CLK_USB_OHCI0>;
			resets = <&ccu RST_BUS_EHCI0>, <&ccu RST_BUS_OHCI0>;
			status = "okay";
		};
		/*
		video-codec@1c0e000 {
			compatible = "allwinner,sun8i-v3s-video-engine";
			reg = <0x01c0e000 0x1000>;
			interrupts = <GIC_SPI 58 IRQ_TYPE_LEVEL_HIGH>;
			clocks = <&ccu CLK_BUS_VE>, <&ccu CLK_VE>,
			<&ccu CLK_DRAM_VE>;
			clock-names = "ahb", "mod", "ram";
			resets = <&ccu RST_BUS_VE>;
			allwinner,sram = <&ve_sram 1>;
			status = "okay";
		}; */
	};
	backlight: backlight {
		compatible = "pwm-backlight";
		pwms = <&pwm 0 1000000 0>;
		brightness-levels = <0 30 40 50 60 70 100>;
		default-brightness-level = <6>;
	};
	
	panel: panel {
		compatible = "panel-dpi";
		backlight = <&backlight>;
		height-mm = <54>;
		width-mm = <96>;
		
		port {
			panel_input: endpoint {
				remote-endpoint = <&tcon0_out_lcd>;
			};
		};
		panel-timing {
			clock-frequency = <9000000>;
			hactive = <480>;
			vactive = <272>;
			
			hfront-porch = <8>;
			hsync-len = <4>;
			hback-porch = <43>;
			
			vback-porch = <12>;
			vsync-len = <4>;
			vfront-porch = <8>;
			
			hsync-active = <0>;
			vsync-active = <0>;
			de-active = <1>;
			pixelclk-active = <1>;
		};
	};
	
	reserved-memory {
		#address-cells = <1>;
		#size-cells = <1>;
		ranges;
		cma_pool: buffer@42a00000 {
			compatible = "shared-dma-pool";
			reusable;
			reg = <0x42a00000 0x1000000>;
			linux,cma-default;
		};
	};
};

&lradc {
	vref-supply = <&reg_vcc3v0>;
	status = "okay";
	button-0 {
		label = "Left";
		linux,code = <KEY_LEFT>;
		channel = <0>;
		voltage = <0>;
	};
	button-273 {
		label = "Right";
		linux,code = <KEY_RIGHT>;
		channel = <0>;
		voltage = <412698>;
	};
	button-500 {
		label = "Up";
		linux,code = <KEY_UP>;
		channel = <0>;
		voltage = <825396>;
	};
	button-692 {
		label = "Down";
		linux,code = <KEY_DOWN>;
		channel = <0>;
		voltage = <1111111>;
	};
	button-857 {
		label = "OK";
		linux,code = <KEY_OK>;
		channel = <0>;
		voltage = <1269841>;
	};
};

&codec {
	status = "okay";
	allwinner,audio-routing =
	"Headphone", "HP",
	"Headphone", "HPCOM",
	"MIC1", "Mic",
	"Mic",  "HBIAS";
};

&mmc0 {
	broken-cd;
	bus-width = <4>;
	vmmc-supply = <&reg_vcc3v3>;
	status = "okay";
};

// 开放mmc1设备，无线网卡挂在这个接口下面
&mmc1 {
	broken-cd;
	bus-width = <4>;
	vmmc-supply = <&reg_vcc3v3>;
	status = "okay";
};

&uart0 {
	pinctrl-0 = <&uart0_pb_pins>;
	pinctrl-names = "default";
	status = "okay";
};

&uart1 {
	pinctrl-0 = <&uart1_pins>;
	pinctrl-names = "default";
	status = "okay";
};

&usb_otg {
	dr_mode = "host";
	status = "okay";
};

&usbphy {
	// usb0_id_det-gpios = <&pio 5 6 GPIO_ACTIVE_HIGH>;
	status = "okay";
};

// 开启以太网
&emac {
	allwinner,leds-active-low;
	status = "okay";
};

// 开启SPI和FLASH
&spi0 {
	status = "okay";
	w25q256:w25q256@0 {
		compatible = "winbond,w25q256", "jedec,spi-nor";
		reg = <0x0>;
		spi-max-frequency = <50000000>;
		#address-cells = <1>;
		#size-cells = <1>;
		// 由于Flash没有分区表，需要在设备树文件中声明flash分区
		// 这里总共分了5个区
		
		partitions {
			compatible = "fixed-partitions";
			#address-cells = <1>;
			#size-cells = <1>;
			
			uboot {
				reg = <0x0 0x80000>;
				read-only;
			};
			
			dtb {
				reg = <0x80000 0x8000>;
				read-only;
			};
			
			kernel {
				reg = <0x88000 0x6F8000>;
				read-only;
			};
			
			rootfs {
				reg = <0x780000 0x1080000>;
				read-only;
				linux,rootfs;
			};
			data {
				reg = <0x1800000 0x800000>;
			};
		};
	};
};

&i2c0 {
	status = "okay";
	gt911@14 {
		compatible = "goodix,gt911";
		reg = <0x14>;
		interrupt-parent = <&pio>;
		interrupts = <1 3 IRQ_TYPE_EDGE_FALLING>;
		irq-gpios = <&pio 1 3 GPIO_ACTIVE_HIGH>;
        reset-gpios = <&pio 1 2 GPIO_ACTIVE_HIGH>;

		// 触摸屏配置
		panel = <&panel>;
		touchscreen-size-x = <480>;
		touchscreen-size-y = <272>;
		touchscreen-x-mm = <95>;
		touchscreen-y-mm = <54>;
	};
};

&de {
	status = "okay";
};

&pwm {
	status = "okay";
};

&pio {
	uart1_pins: uart1-pins {
		pins = "PE21", "PE22";
		function = "uart1";
	};
};

&tcon0 {
	status = "okay";
};

&tcon0_out {
	tcon0_out_lcd: endpoint@0 {
		reg = <0>;
		remote-endpoint = <&panel_input>;
	};
};
